.edd_ezpay_loading_td {
  text-align: center;

  .edd_ezpay_loading {
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: edd-spinning 1.1s infinite linear;
    animation: edd-spinning 1.1s infinite linear;
    border-top: 0.2em solid rgba(0, 0, 0, 0.2);
    border-right: 0.2em solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.2em solid rgba(0, 0, 0, 0.2);
    border-left: 0.2em solid #000;
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
  }
}

.edd_ezpay_crypto_table_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#edd_ezpay_crypto_table {
  margin-top: 15px;

  thead {
    th {
      padding-left: 10px;
      padding-right: 10px;

      &.edd_ezpay_crypto_lifetime, &.edd_ezpay_crypto_wallet {
        min-width: 90px;
      }

      &.edd_ezpay_crypto_distance {
        min-width: 110px;
      }
    }
  }

  tbody {
    .edd_ezpay_discount_input {
      max-width: 50px;
    }
  }
}

.edd_ezpay_crypto_table_bottom {
  margin-top: 15px;
  text-align: right;
}

#edd_ezpay_currency_table {
  thead {
    th {
      padding: 15px 10px;
    }
  }

  tbody {
    input {
      max-width: 150px;
    }

    .ezpay_currency_logo {
      float: left;
      margin-right: 5px;
    }

    .ezpay_currency_select {
      min-width: 180px;
      .select2-container {
        width: 180px !important;
      }
    }

    .ezpay_currency_discount input {
      width: 50px;
    }
  }
}

.ezpay-currency-table {
  thead {
    th {
      padding: 15px 10px;
      font-weight: normal;
    }
  }

  tbody {
    tr {
      &:hover {
        .actions {
          opacity: 1;
          visibility: visible;
        }
      }

      td {
        vertical-align: top;

        .actions {
          color: #ddd;
          font-size: 13px;
          padding: 2px 0 0;
          opacity: 0;
          visibility: hidden;
        }

        .edit {
          display: none;
        }

        &.ezpay-currency-name {
          min-width: 160px;

          img {
            float: left;
            margin-right: 8px;
            margin-top: 5px;
            width: 32px;
          }

          span {
            text-transform: capitalize;
          }

          .select2-container {
            width: 100% !important;
          }
        }

        &.ezpay-currency-discount {
          input {
            max-width: 50px;
          }
        }

        &.ezpay-currency-lifetime {
          input {
            max-width: 80px;
          }
        }

        &.ezpay-currency-wallet {
          .view {
            max-width: 170px;
          }
        }

        &.ezpay-currency-distance {
          input {
            max-width: 80px;
          }
        }
      }
    }
  }
}

.select2-currency {
  display: flex;
  align-items: center;

  .select2-currency__icon {
    margin-right: 10px;

    img {
      width: 24px;
    }
  }

  .select2-currency__name {
    text-transform: capitalize;
  }
}