#ezdefi-currency-select .ezdefi-currency {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#ezdefi-currency-select .ezdefi-currency input {
  margin-right: 30px;
}
#ezdefi-currency-select .ezdefi-currency label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
#ezdefi-currency-select .ezdefi-currency label .left {
  display: flex;
  align-items: center;
}
#ezdefi-currency-select .ezdefi-currency label .left img {
  width: 32px;
  margin-right: 30px;
}
#ezdefi-currency-select .ezdefi-currency label .left .symbol {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 95%;
}
#ezdefi-currency-select .ezdefi-currency label .right {
  display: flex;
  align-items: center;
  font-weight: normal;
}
#ezdefi-currency-select .ezdefi-currency label .right .name {
  text-transform: capitalize;
  margin-right: 20px;
  font-size: 80%;
}
#ezdefi-currency-select .ezdefi-currency label .right .discount {
  color: #666;
  font-size: 80%;
  margin-right: 20px;
}
#ezdefi-currency-select .ezdefi-currency label .right .more {
  font-size: 60%;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #eee;
  text-align: center;
  line-height: 18px;
  border-radius: 100%;
  position: relative;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAACiUlEQVRYhe2XzWsTYRDGn+luQkz9ogpii6UiCFKPWilFvAki9OJBwUYDZd+EHEQEexAPwX9AoQaym49DF0/xogfx4MfFk0r1ItiDUIQGDLaLH02w3X3HSwuhZDe72Y0n57LsPPPO/PYdmGEJEVg2m51yHOcOEU0A2GDmp47jzFWr1V/dzqphi2cymctSykdEpGz7iCgbi8X2AJjpdp7CFM/lcrtt214GcKCDbFuWNVir1Ta8cgyEAbBt+7RLcQAYSCQSsW45QgEQkVcL35mmud5XAFVVFwH87CBtAsj5yREKoFAorDLzFQArWy4HwBtmnjAMYzFM7qBGQojDQojkvyz63yKxUIMIAFKp1GAymbwkpZwkojEiKuq6/qTvAEKIYwBuArgGYG+btDY8PHwon8/bfvIE3gXpdHp/PB6/C+AGgE6TbqjRaCQA/I4cQNO0q0T0AMBBjzBHUZRNvzl9AWz1+SEzp32Ef56fn/8TGYAQYhTAc2Y+AcAG8ALAd7iv2vd+iwM+RnGr1VoFsIuZF6SUxw3DuMDML93iiehVEICuN2Ca5roQYrxUKjXbikx4ALjCdTJfy8gwjOYO11mX0KVisbjiovUO0G6zs7NDAE520oJ+fU8AqqpOuWlSykD97wmAmd2un6WUr/sOQERuAB8qlcpaXwGEEElmPuUiB+4/EHwXnPE483HrSZqmXQdwfmRkZCafz8soASbdBGZWNE2bJqJbAM4B+FGv148C+BIlwLibQEQLba/LRHRR13XP4pECbBszv2Xm6XK5/M1PwqAA+zy0JhHdsyzrfrffsZ4BiGiJmcd2uB0AjwHM6br+NUi+wADMfBvAEQCjAD4x8zNFUSpB53+7/QXcy9kpGcIPfQAAAABJRU5ErkJggg==");
  background-size: 8px;
  background-position: center;
  background-repeat: no-repeat;
}
#ezdefi-currency-select .ezdefi-currency label .right .more .tooltip {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -5px;
  bottom: auto;
  right: 150%;
  opacity: 0;
  transition: opacity 0.3s;
}
#ezdefi-currency-select .ezdefi-currency label .right .more .tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #555;
}
#ezdefi-currency-select .ezdefi-currency label .right .more:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=edd-ezdefi-checkout.css.map */
