form .error {
  font-size: 13px;
  color: #dc3232;
  display: block;
}
form .correct {
  color: #567622;
}
form .ezdefi_api_key input.pending {
  background-image: url(spinner-2x.gif) !important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 99% center;
}
form tr.ezdefi_method label {
  font-style: normal !important;
}
form td.form-invalid .select2-selection {
  border-color: #dc3232 !important;
  box-shadow: 0 0 2px rgba(204, 0, 0, 0.8);
}
form .form-table {
  table-layout: fixed;
}
form input#edd_settings[ezdefi_acceptable_variation] {
  width: 80px;
}
form .ezdefi-currency-table {
  display: block;
  overflow-x: auto;
}
form .ezdefi-currency-table thead th {
  padding: 15px 10px;
  vertical-align: middle;
}
form .ezdefi-currency-table thead th.sortable-zone {
  width: 24px;
}
form .ezdefi-currency-table thead th.sortable-zone .help-tip {
  color: #666;
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  cursor: help;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
form .ezdefi-currency-table .logo {
  width: 32px;
  vertical-align: middle;
}
form .ezdefi-currency-table .logo img {
  display: block;
  width: 32px;
}
form .ezdefi-currency-table .name {
  min-width: 200px;
}
form .ezdefi-currency-table .name .view span {
  text-transform: capitalize;
}
form .ezdefi-currency-table .name .edit .select2-container .select2-selection {
  text-transform: capitalize;
}
form .ezdefi-currency-table tbody tr td {
  vertical-align: top;
}
form .ezdefi-currency-table tbody tr td.sortable-handle {
  cursor: move;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
}
form .ezdefi-currency-table tbody tr td.sortable-handle span {
  width: 17px;
  font-size: 17px;
  color: #999;
  display: block;
  line-height: 24px;
}
form .ezdefi-currency-table tbody tr td.sortable-handle:hover span {
  color: #333;
}
form .ezdefi-currency-table tbody tr .actions {
  color: #ddd;
  font-size: 13px;
  padding: 2px 0 0;
  position: static;
  left: -9999em;
}
form .ezdefi-currency-table tbody tr .view {
  display: block;
}
form .ezdefi-currency-table tbody tr .edit {
  display: none;
}
form .ezdefi-currency-table tbody tr.editing .view {
  display: none;
}
form .ezdefi-currency-table tbody tr.editing .view .actions {
  position: static;
}
form .ezdefi-currency-table tbody tr.editing .edit {
  display: block;
}
form .ezdefi-currency-table tbody tr.editing td.discount .edit, form .ezdefi-currency-table tbody tr.editing td.lifetime .edit {
  display: flex !important;
  align-items: center;
}
form .ezdefi-currency-table tbody tr.editing td.discount .edit span, form .ezdefi-currency-table tbody tr.editing td.lifetime .edit span {
  margin-left: 2px;
}

.select2-container .select2-search--dropdown .select2-search__field {
  padding-top: 0;
  padding-bottom: 0;
}
.select2-container .select2-currency {
  display: flex;
  align-items: center;
}
.select2-container .select2-currency .select2-currency__icon {
  margin-right: 10px;
}
.select2-container .select2-currency .select2-currency__icon img {
  width: 24px;
}
.select2-container .select2-currency .select2-currency__name {
  text-transform: capitalize;
}

#tiptip_holder {
  display: none;
  z-index: 8675309;
  position: absolute;
  top: 0;
  left: 0;
}

#tiptip_holder.tip_top {
  padding-bottom: 5px;
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
  margin-top: -7px;
  margin-left: -6px;
  border-top-color: #333;
}

#tiptip_holder.tip_bottom {
  padding-top: 5px;
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
  margin-top: -5px;
  margin-left: -6px;
  border-bottom-color: #333;
}

#tiptip_holder.tip_right {
  padding-left: 5px;
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -5px;
  border-right-color: #333;
}

#tiptip_holder.tip_left {
  padding-right: 5px;
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -7px;
  border-left-color: #333;
}

#tiptip_content, .chart-tooltip, .wc_error_tip {
  color: #fff;
  font-size: 0.8em;
  max-width: 150px;
  background: #333;
  text-align: center;
  border-radius: 3px;
  padding: 0.618em 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#tiptip_content code, .chart-tooltip code, .wc_error_tip code {
  padding: 1px;
  background: #888;
}

#tiptip_arrow, #tiptip_arrow_inner {
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  height: 0;
  width: 0;
}

/*# sourceMappingURL=edd-ezdefi-admin.css.map */
