#ezdefi-currency-select {
  .currency-select {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -2.5px;

    .currency-item__wrap {
      width: 150px;
      padding: 0 5px;
      margin-bottom: 10px;

      .currency-item {
        border: 1px solid rgba(0, 0, 0, .125);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        display: flex;
        padding: 10px;
        transition: all .3s;
        cursor: pointer;

        &:hover, &.selected {
          border-color: #46b450;
        }

        .item__logo {
          margin-right: 10px;

          img {
            width: 20px;
            margin-top: 8px;
          }
        }

        .item__text {
          text-align: left;
          flex-grow: 1;

          .item__price {

          }

          .item__info {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: 90%;

            .item__symbol {
              text-transform: uppercase;
            }

            .item__discount {

            }
          }
        }
      }
    }
  }
}