form {
  .error {
    font-size: 13px;
    color: #dc3232;
    display: block;
  }

  .correct {
    color: #567622;
  }

  .ezdefi_api_key {
    input.pending {
      background-image: url(spinner-2x.gif) !important;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: 99% center;
    }
  }

  tr.ezdefi_method {
    label {
      font-style: normal !important;
    }
  }

  td.form-invalid {
    .select2-selection {
      border-color: #dc3232!important;
      box-shadow: 0 0 2px rgba(204,0,0,.8);
    }
  }

  .form-table {
    table-layout: fixed;
  }

  input#edd_settings[ezdefi_acceptable_variation] {
    width: 80px;
  }

  .ezdefi-currency-table {
    display: block;
    overflow-x: auto;
    thead {
      th {
        padding: 15px 10px;
        vertical-align: middle;

        &.sortable-zone {
          width: 24px;

          .help-tip {
            color: #666;
            width: 16px;
            height: 16px;
            font-size: 16px;
            line-height: 16px;
            cursor: help;
            display: inline-block;
            position: relative;
            vertical-align: middle;
          }
        }
      }
    }

    .logo {
      width: 32px;
      vertical-align: middle;

      img {
        display: block;
        width: 32px;
      }
    }

    .name {
      min-width: 200px;

      .view {
        span {
          text-transform: capitalize;
        }
      }

      .edit {
        .select2-container {
          .select2-selection {
            text-transform: capitalize;
          }
        }
      }
    }

    .discount, .lifetime, .distance {
      //width: 100px;
    }

    .wallet {
    }

    tbody {
      tr {
        td {
          vertical-align: top;

          &.sortable-handle {
            cursor: move;
            font-size: 15px;
            text-align: center;
            vertical-align: middle;

            span {
              width: 17px;
              font-size: 17px;
              color: #999;
              display: block;
              line-height: 24px;
            }

            &:hover {
              span {
                color: #333;
              }
            }
          }
        }

        .actions {
          color: #ddd;
          font-size: 13px;
          padding: 2px 0 0;
          position: static;
          left: -9999em;
        }

        .view {
          display: block;
        }

        .edit {
          display: none;
        }

        &.editing {
          .view {
            display: none;

            .actions {
              position: static;
            }
          }

          .edit {
            display: block;
          }

          td.discount, td.lifetime {
            .edit {
              display: flex !important;
              align-items: center;

              span {
                margin-left: 2px;
              }
            }
          }
        }
      }
    }
  }
}

.select2-container {
  .select2-search--dropdown {
    .select2-search__field {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .select2-currency {
    display: flex;
    align-items: center;

    .select2-currency__icon {
      margin-right: 10px;

      img {
        width: 24px;
      }
    }

    .select2-currency__name {
      text-transform: capitalize;
    }
  }
}

#tiptip_holder{display:none;z-index:8675309;position:absolute;top:0;left:0}#tiptip_holder.tip_top{padding-bottom:5px}#tiptip_holder.tip_top #tiptip_arrow_inner{margin-top:-7px;margin-left:-6px;border-top-color:#333}#tiptip_holder.tip_bottom{padding-top:5px}#tiptip_holder.tip_bottom #tiptip_arrow_inner{margin-top:-5px;margin-left:-6px;border-bottom-color:#333}#tiptip_holder.tip_right{padding-left:5px}#tiptip_holder.tip_right #tiptip_arrow_inner{margin-top:-6px;margin-left:-5px;border-right-color:#333}#tiptip_holder.tip_left{padding-right:5px}#tiptip_holder.tip_left #tiptip_arrow_inner{margin-top:-6px;margin-left:-7px;border-left-color:#333}#tiptip_content,.chart-tooltip,.wc_error_tip{color:#fff;font-size:.8em;max-width:150px;background:#333;text-align:center;border-radius:3px;padding:.618em 1em;box-shadow:0 1px 3px rgba(0,0,0,.2)}#tiptip_content code,.chart-tooltip code,.wc_error_tip code{padding:1px;background:#888}#tiptip_arrow,#tiptip_arrow_inner{position:absolute;border-color:transparent;border-style:solid;border-width:6px;height:0;width:0}